.footer {
  width: 320px;
  height: 57px;
  background: $color;
  text-align: center;
}
.footer-image{
  display: none;
}
.footer-text-1 {
  font-size: 14px;
  color: #ffffff;
  padding-top: 12px;
}

.footer-text-2 {
  font-size: 14px;
  color: #ffffff;
}


@media screen and (min-width: 640px){
  .footer {
    width: 640px;
    height: 97px;
  }
  .footer-image{
    display: none;
  }
  .footer-text-1 {
    font-size: 18px;
    padding-top: 28px;
  }

  .footer-text-2 {
    padding-top: 15px;
    font-size: 18px;
  }

}
@media screen and (min-width: 980px){
  .footer {
    width: 980px;
    height: 97px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer-image{
    display: inline-block;
    margin: 7px 0 7px 30px;
  }
  .footer-text-1 {
    font-size: 18px;
    padding-top: 0;
    display: inline-block;
  }
  .footer-text-2 {
    font-size: 18px;
    padding-top: 0;
    margin-right: 30px;
    display: inline-block;
  }
}
@media screen and (min-width: 1200px){
  .footer {
    width: 1200px;
  }
  .footer-image{
    margin: 7px 0 7px 37px;
  }
  .footer-text-2 {
    margin-right: 38px;
  }
}