.container{
    width: 500px;
    height: 500px;
    background-color: cornflowerblue;
    border: 1px solid grey;
}
.buttonCardConstructor {
    width: 150px;
    height: 7%;
    color: aquamarine;
    background-color: blueviolet;
    font-size: 16px;
    border-radius: 10px;
    position: absolute;
    left: 175px;
    top: 450px;

}

/*========================= modal-styles =========================*/

.modal {
    display: block;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.3);
}

.modal-content {
    background: linear-gradient(to right, rgb(146, 199, 255), rgb(196, 113, 241));
    margin: 20% auto;
    padding: 5rem;
    width: 30%;
    height: 30%;
    border: 3px solid #084fc7;
    position: relative;
}

.modal-close {
    font-size: 2rem;
    position: absolute;
    top: 0.1rem;
    right: 0.25rem;
    color: #fff;
}

.modal-close:hover {
    color: #084fc7;
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.modal-select {
    height: 5rem;
    background-color: #fff;
    border: 1px solid #084fc7;
    font-size: 1.3rem;
    font-family: "Grenze", serif;
    padding: 1rem;
    outline: none;
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.card {
    width: 200px;
    height: 150px;
    background-color: dodgerblue;
    border: 2px solid yellow;
    box-shadow: 10px 5px 5px #ba2233;
    margin: 5px;
    box-sizing: border-box;
}