.container {
    width: 1280px;
    margin: 0 auto;
    font-family: sans-serif;
    }
.title {
    font-size: 80px;
    margin-top: 61px;
    margin-bottom: 45px;
    text-decoration: none;
    color: #000;
    display: block;
   }
.selection {
    color: #4bcaff;
}

.navbar-menu {
    background-color: #35444f;
    font-size: 24px;
    display: inline-block;
    padding:22px 120px;
    margin-bottom: 51px;
}

.navbar-menu-link {
    text-decoration: none;
    color: #ffffff;
    padding: 22px 38px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.navbar-menu-link:last-child{
    margin-right: 0;
}
.navbar-menu-link:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    }
.navbar-menu-link:not(hover) {
    transition: .7s;
}

.sidebar {
    font-size: 30px;
    border: 1px solid #35444f;
    display: inline-block;
    vertical-align: top;
    padding-left: 0;
    margin-right: 50px;
}

.sidebar-link {
    text-decoration: none;
    color: #495863;
    padding: 20px 0;
    padding-left: 44px;
    display: block;
    padding-right: 45px;

}
.sidebar-link:hover {
    background-color: #dbdbdb;
    transition: .7s;
    padding-left: 60px;

}
.sidebar-link:not(hover) {
    transition: 0.7s;
}
.image-border {
    display: inline-block;
    border: 1px solid #35444f;
    /*transform: rotateY(50deg);*/

}
.img {
    width: 320px;
    height: 381px;
    padding: 75px 268px 73px 297px;
}
.img:hover{
     transform: scale(1.3);
 }
.img:not(hover) {
    transform: scale(1);
    transition: 1s;
}
.text {
    text-align: justify;
    width: 855px;
    margin-left: 385px;
    margin-bottom: 51px;
    font-size: 15px;

}
.text-item {
    margin-top: 50px;
    margin-bottom: 30px;
}
.bottom-navbar {
    background-color: #b4b7ba;
    font-size: 24px;
    padding: 22px 40px;
}
.bottom-navbar-link {
    color: #0c1927;
    text-decoration: none;
    padding: 22px 22px;

}
.bottom-navbar-link:hover {
    color: #3181a6;
    border-bottom: 1px solid;
    padding-bottom: 3px;
}
footer {
    display: inline-block;
    float: right;
    font-size: 22px;
}