.main {
  width: 320px;
}

.main-bg {
  background-image: url("../img/header-fon-320.png");
  height: 173px;
  background-repeat: no-repeat;
  margin-bottom: 4px;
}

.main-bg-text-1 {
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  padding-left: 20px;
  padding-top: 19px;
}

.main-bg-text-2 {
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  padding-left: 20px;
  padding-top: 7px;
}

.main-bg-link {
  font-size: 14px;
  color: #a6d6e0;
  text-decoration: none;
  font-weight: 700;
  padding-left: 20px;
  padding-top: 11px;
}

.menu-images-1 {
  background-image: url("../img/img-320/Pizza-delivery-fon-320.png");
  height: 75px;
  background-repeat: no-repeat;
  background-position: -25px -233px;
  margin-bottom: 2px;
}

.menu-images-text-1 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding-top: 27px;
  padding-left: 64px;
}

.menu-images-2 {
  background-image: url("../img/img-320/UA_UX-Salads-fon-320.png");
  height: 75px;
  background-repeat: no-repeat;
  background-position: 0 -165px;
  margin-bottom: 2px;
}

.menu-images-text-2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding-top: 27px;
  padding-left: 75px;
}

.menu-images-3 {
  background-image: url("../img/img-320/Desserts-fon-320.png");
  height: 75px;
  background-repeat: no-repeat;
  background-position: 0 -28px;
  margin-bottom: 26px;
}

.menu-images-text-3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding-top: 27px;
  padding-left: 84px;
}

.fa-angle-right {
  color: #ffffff;
  background: $color;
}

.icon-angel-right-1 {
  position: relative;
  left: 251px;
  bottom: 47px;
  padding: 30px 31px;
}

.icon-angel-right-2 {
  position: relative;
  left: 251px;
  bottom: 47px;
  padding: 30px 31px;
}

.icon-angel-right-3 {
  position: relative;
  left: 251px;
  bottom: 47px;
  padding: 30px 31px;
}

@media screen and (min-width: 640px) {
  .main {
    width: 640px;
  }
  .main-bg {
    background-image: url("../img/header-fon-640.png");
    height: 346px;
    margin-bottom: 5px;
  }
  .main-bg-text-1 {
    font-size: 36px;
    padding-left: 38px;
    padding-top: 30px;
  }

  .main-bg-text-2 {
    font-size: 36px;
    padding-left: 38px;
    padding-top: 10px;
    padding-bottom: 22px;
  }

  .main-bg-link {
    font-size: 24px;
    padding-left: 37px;
  }
  .menu-images-1 {
    background-image: url("../img/img-640/Pizza-delivery-fon-640.png");
    height: 150px;
    background-position: 0 -281px;
    margin-bottom: 2px;
  }

  .menu-images-text-1 {
    font-size: 36px;
    padding-top: 58px;
    padding-left: 135px;
  }

  .menu-images-2 {
    background-image: url("../img/img-640/UA_UX-Salads-fon-640.png");
    height: 150px;
    background-position: 0 -233px;
    margin-bottom: 2px;
  }

  .menu-images-text-2 {
    font-size: 36px;
    padding-top: 58px;
    padding-left: 138px;
  }

  .menu-images-3 {
    background-image: url("../img/img-640/Desserts-fon-copy-640.png");
    height: 150px;
    background-position: 0 -34px;
    margin-bottom: 45px;
  }

  .menu-images-text-3 {
    font-size: 36px;
    padding-top: 58px;
    padding-left: 184px;
  }
  .icon-angel-right-1 {
    left: 499px;
    bottom: 94px;
    padding: 62px 67px;
  }

  .icon-angel-right-2 {
    left: 499px;
    bottom: 94px;
    padding: 62px 67px;
  }

  .icon-angel-right-3 {
    left: 499px;
    bottom: 94px;
    padding: 62px 67px;
  }
  .fa-angle-right {
    font-size: 26px;
  }
}
@media screen and (min-width: 980px) {
  .main {
    width: 980px;
  }

  .main-bg {
    background-image: url("../img/header-fon-980.png");
    height: 530px;
    background-repeat: no-repeat;
    margin-bottom: 6px;
  }

  .main-bg-text-1 {
    font-size: 54px;
    padding-left: 30px;
    padding-top: 64px;
  }

  .main-bg-text-2 {
    font-size: 54px;
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 57px;
  }

  .main-bg-link {
    font-size: 34px;
    padding-left: 30px;
  }
  .menu-images-wrapper{
    display: flex;
    flex-direction: row;
  }
  .menu-images-1 {
    background-image: url("../img/img-980/Pizza-delivery-fon-980.png");
    height: 327px;
    width: 327px;
    background-position: 0 0;
    margin-bottom: 2px;
  }

  .menu-images-text-1 {
    color: #ffffff;
    font-size: 38px;
    padding-top: 145px;
    padding-left: 42px;
  }

  .menu-images-2 {
    background-image: url("../img/img-980/UA_UX-Salads-fon-980.png");
    height: 327px;
    width: 327px;
    background-position: 0 0;
    margin-bottom: 2px;
  }

  .menu-images-text-2 {
    color: #ffffff;
    font-size: 38px;
    padding-top: 145px;
    padding-left: 44px;
  }

  .menu-images-3 {
    background-image: url("../img/img-980/Desserts-fon-980.png");
    height: 327px;
    width: 327px;
    background-position: 0 0;
    margin-bottom: 50px;
  }

  .menu-images-text-3 {
    color: #ffffff;
    font-size: 38px;
    padding-top: 145px;
    padding-left: 88px;
  }
  .icon-angel-right-1 {
    display: none !important;
  }

  .icon-angel-right-2 {
    display: none !important;
  }

  .icon-angel-right-3 {
    display: none !important;
  }
}
@media screen and (min-width: 1200px) {
  .main {
    width: 1200px;
  }

  .main-bg {
    background-image: url("../img/header-fon-1200.png");
    height: 649px;
  }
  .main-bg-text-1 {
    font-size: 62px;
    padding-left: 37px;
    padding-top: 58px;
  }

  .main-bg-text-2 {
    font-size: 62px;
    padding-left: 37px;
    padding-top: 14px;
    padding-bottom: 53px;
  }
  .main-bg-link {
    font-size: 38px;
    padding-left: 37px;
  }
  .menu-images-1 {
    background-image: url("../img/img-1200/Pizza-delivery-1200.png");
    height: 400px;
    width: 400px;
  }

  .menu-images-text-1 {
    font-size: 43px;
    padding-top: 182px;
    padding-left: 67px;
  }

  .menu-images-2 {
    background-image: url("../img/img-1200/UA_UX-Salads-1200.png");
    height: 400px;
    width: 400px;
  }

  .menu-images-text-2 {
    font-size: 43px;
    padding-top: 183px;
    padding-left: 63px;
  }

  .menu-images-3 {
    background-image: url("../img/img-1200/Desserts-1200.png");
    height: 400px;
    width: 400px;
    margin-bottom: 41px;
  }
  .menu-images-text-3 {
    font-size: 43px;
    padding-top: 183px;
    padding-left: 116px;
  }

}



























