.header {
  width: 320px;
  height: 37px;
  background-color: #373c3f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo-name {
  font-size: 12px;
  padding: 12px 0 0 19px;
  display: inline-block;
  color: #ffffff;
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 37px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;

}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 16px;
  left: 11px;
  right: 11px;
  height: 3px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -6px;
}

.c-hamburger span::after {
  bottom: -6px;
}

.c-hamburger--htx {
  background-color: #202529;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* состояние active при открытом меню  */
.c-hamburger--htx.is-active {
  background-color: #202529;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

.navbar-menu {
  display: none;
  z-index: 2;
  position: relative;
  top: 37px;
  left: 53px;
}

.navbar-menu-item {
  color: #444444;
  font-size: 12px;
  background: #fafafa;
  padding: 9px 96px 9px 12px;
  text-transform: capitalize;
  border: 1px solid #f3f3f3;
}

.navbar-menu-item:hover {
  background: #f5f5f5;
}

.header-img-pizza {
  display: none;
}
@media screen and (min-width: 640px) {
  .header{
    width: 640px;
    height: 74px;
  }
  .header-logo-name{
    font-size: 24px;
    padding: 26px 0 0 38px;
  }
  .c-hamburger {
    width: 82px;
    height: 74px;
  }
  .c-hamburger span {
    top: 34px;
    left: 25px;
    right: 23px;
    height: 4px;
  }
  .c-hamburger span::before {
    top: -8px;
  }
  .c-hamburger span::before, .c-hamburger span::after{
    height: 4px;
  }
  .c-hamburger span::after {
    bottom: -8px;
  }
  .navbar-menu-item {
    font-size: 14px;
    padding: 13px 130px 13px 27px;
  }
  .navbar-menu {
    top: 74px;
    left: 162px;
  }
}
@media screen and (min-width: 980px) {
  .header {
    width: 980px;
    height: 97px;
    background-color: #373c3f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header-logo-name {
    display: none;
  }
  .c-hamburger{
    display: none;
  }
  .navbar-menu {
    display: inline-block;
    z-index: 1;
    position: relative;
    top: 41px;
    left: -83px;
  }
  .navbar-menu-item {
    display: inline;
    color: #ebebeb;
    font-size: 15px;
    background: #373c3f;
    padding: 0;
    margin-left: 30px;
    border: none;
    text-transform: uppercase;
  }

  .navbar-menu-item:hover {
    background: none;
    color: #ffffff;
  }

  .header-img-pizza {
    display: inline-block;
    padding-right: 30px;
    padding-top: 7px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
    height: 97px;
  }
  .navbar-menu {
    left: -128px;
  }
  .navbar-menu-item {
    margin-left: 37px;
  }
  .header-img-pizza {
    padding-right: 38px;
  }
}
























