#input-container{
    padding: 20px 20px 20px 120px;
    background-color: hotpink;
    display: inline-block;
}
.price {
    display: inline-block;
    color: antiquewhite;
    font-size: 25px;
    margin-right: 20px;
}
#numbertext {
    height: 25px;
    width: 180px;
    font-size: 24px;
    border: 2px solid antiquewhite;
}
#currentPrice{
    padding-top: 50px;
    padding-bottom: 50px;
    display: none;

}
.spanText{
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 50px 50px 50px 50px;
    padding: 10px 60px 10px 25px;
    color: grey;
    position: relative;

}
.spanText:after {
    content: '\2716';
    border: 1px solid grey;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    position: absolute;
    right: 18px;
    bottom: 8px;

}

