body {
    background-image: url("../img/background-image.png");
    background-size: cover;
    font-family: Verdana, "Trebuchet MS", Geneva, sans-serif;

}
.head {
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: sans-serif;
    transform: translateY(calc(92%/2));
    margin-top: -26px;
}

.head-logo {
    color: white;
    display: inline-block;
    margin-left: 81px;
    /*margin-right: 735px;*/
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding-top: 21px;
    font-family: Verdana, "Trebuchet MS", Geneva, sans-serif;
}
.head-logo:hover {
    color: #3cb878;
    transition: 0.7s;
}
.head-logo:not(hover) {
    transition: 0.7s;
}
.right-head {
    float: right;
    padding-top: 18px;
}
.head-items-wrapper {
    display: inline-block;
    border-right: 1px solid grey;
    vertical-align: middle;

}
.head-items {
    display: inline-block;
    width: 28px;
    height: 20px;
    background-image: url("../img/sprites-hw-4.png");
    margin-right: 28px;
    cursor: pointer;
}
.calendar {
    background-position:-50px -86px;
}
.calendar:hover {
    background-position: -89px -86px;
}
.forum {
    background-position: -10px -10px;
}
.forum:hover {
    background-position: -58px -10px;
}
.journey {
    background-position: -106px -10px;
}
.journey:hover {
    background-position: -10px -86px;
}
.last-item {
    margin-right: 25px;
}
.head-register {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.head-register-welcome {
    display: inline-block;
    margin-left: 24px;
    margin-right: 6px;
}
.head-register-or {
    display: inline-block;
}
.head-register-login {
    text-decoration: none;
    color: #3cb878;
}
.head-register-login:hover {
    border-bottom: 1px solid #3cb878;
    transition: 0.7s;
}
.head-register-signup {
    text-decoration: none;
    color: #3cb878;
    margin-right: 75px;
}
.head-register-signup:hover {
    border-bottom: 1px solid #3cb878;
    transition: 0.7s;
}
.main {

}
.login {
    width: 444px;
    height: 584px;
    background: white;
    border-radius: 10px;
    margin: 0 auto;
    transform: translateY(calc((100vh - 584px)/2));
}
.container {
    width: 322px;
    margin-left: 62px;
    margin-right: 60px;
}
.login-head {
    margin-bottom: 31px;
}
.login-head-left {
    color: #434343;
    font-size: 20px;
    padding-top: 29px;
    font-family: sans-serif;
    display: inline-block;
}
.login-head-left::before {
    content: '';
    position: relative;
    left: -44px;
    bottom: -3px;
    margin-left:-18px;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    display: inline-block;
}
.login-head-right {
    text-decoration: none;
    color: #3cb878;
    font-size: 14px;
    float: right;
    padding-top: 33px;
    font-family: sans-serif;
}
.login-head-right:hover {
    border-bottom: 1px solid #3cb878;
    transition: 0.7s;
}
.login-socialnetworks{
    margin-bottom: 18px;
    font-family: sans-serif;
    display: inline-block;
}
.login-facebook {
    background-color: #305db8;
    color: white;
    text-decoration: none;
    padding: 16px 20px 14px 20px;
    font-size: 16px;
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 25px;

}
.login-facebook::before {
    content: '';
    background-image: url("../img/sprites-hw-4.png");
    background-position:-142px -126px;
    height: 20px;
    width: 30px;
    display: inline-block;
    border-right: 2px solid #2b54a5;
    vertical-align: middle;
    margin-right: 10px;
}
.login-facebook:hover {
    background-color: #264b96;
    transition: 0.7s;
}
.login-facebook:hover::before {
    border-right: 2px solid #224387;
    transition: 0.7s;
}
.login-google {
    background-color: #df4a32;
    color: white;
    text-decoration: none;
    padding: 16px 28px 14px 21px;
    font-size: 16px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 9px;
}
.login-google::before {
    content: '';
    background-image: url("../img/sprites-hw-4.png");
    background-position: -9px -164px;
    height: 20px;
    width: 35px;
    display: inline-block;
    border-right: 2px solid #c8422d;
    vertical-align: middle;
    margin-right: 18px;
}
.login-google:hover {
    background-color: #c3412c;
    transition: 0.7s;
}
.login-google:hover::before {
    border-right: 2px solid #af3a28;
    transition: 0.7s;
}
.login-or {
    text-align: center;
    font-size: 14px;
}
.login-or::before {
    content: '';
    width: 135px;
    height: 1px;
    margin-right: 18px;
    display: inline-block;
    background-color: #eaeaea;
    position: relative;
    top: -3px;
}
.login-or::after {
    content: '';
    width: 135px;
    height: 1px;
    margin-left: 18px;
    display: inline-block;
    background-color: #eaeaea;
    position: relative;
    top: -3px;
}
.message-field {
    width: 304px;
    height: 46px;
    padding-left: 18px;
    margin-bottom: 9px;
    font-size: 14px;
    /*padding-left: 18px;*/
    color: #c2c2c2;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}
.message-field:focus {
    box-shadow: 2px 5px 8px 3px rgba(0, 0, 0, 0.2);
    outline: none;
}

.checkbox {
    position: relative;
    padding-left: 35px;
    margin-bottom: 17px;
    font-size: 14px;
    font-family: sans-serif;
}
.checkbox input[type=checkbox] {
    display: none;
}
.checkbox label:after {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    position: absolute;
    top: -3px;
    left: 0;
}
.checkbox input[type=checkbox]:checked + label:after{
    border: 1px solid #eaeaea;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    background-image: url("../img/sprites-hw-4.png");
    background-position: -102px -46px;
}
.checkbox-link {
    text-decoration: none;
    color: #3cb878;
}
.checkbox-link:hover {
    border-bottom: 1px solid #3cb878;
}
.button {
    text-align: center;
    /*margin-bottom: 32px;*/
}
.button-create-account {
    background-color: #3cb878;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    /*padding: 17px 100px;*/
    width: 322px;
    height: 29px;
    padding-top: 17px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    border-radius: 3px;
    align-self: center;
}
.button-create-account:hover {
    background-color: #329a65;
    transition: 0.7s;
}






.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

label{
    user-select: none;
}

