@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

.bg-section {
    background-image: url("../img/Background.png");
    margin: 0 auto;

}
.table {
    width: 1141px;
    border: none;
    background-color: white;
    text-align: center;
    border-collapse: collapse;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #484848;
    font-size: 16px;
    margin: 0 auto;
    transform: translateY(calc((100vh - 680px)/2));
}
tr {
    width: 100px;
}
td {
    height: 50px;
    border: 1px solid grey;
}
tr td {
    box-shadow: 3px 0 4px -1.5px #c9c9c9;
    border: none;
    /*width: 277px;*/
    /*height: 70px;*/
    font-family: 'Arimo', sans-serif;
}
thead {
    background-color: #fafafa;
}
tbody>tr {
    background-color: #f2f2f2;
    height: 69px;
}
tbody>tr:nth-child(2n) {
    background-color: #e3e3e3;
}
.head-first-row {
    display: inline-block;
    font-size: 18px;
    width: 310px;
    text-align: center;
    font-weight: 600;

}
.head-second-row {
    font-size: 30px;
    font-weight: 600;
}
sup {
    vertical-align: super;
    font-size: 24px;
    position: relative;
    top: -6px;
}

.price-permonth {
    font-size: 18px;
    display: inline-block;
    margin-left: -25px;
    font-weight: 400;
}
.head-standart {
    background-color: #89c331;
    color: white;
    font-size: 24px;
    width: 277px;
    height: 70px;
    font-weight: 600;
}
.head-ultimate {
    background-color: #f04a56;
    color: white;
    font-size: 30px;
    width: 277px;
    font-weight: 600;
}
.head-premium {
    background-color: #20807c;
    color: white;
    font-size: 24px;
    width: 277px;
    font-weight: 600;
}
.head-price-row {
    font-size: 60px;
    height: 86px;
    font-weight: 700;
}
.head-standart-price {

}
.button-footer {
    height: 110px;
    background-color: #eeeeee;
}
.bg-button-contactus {
    background-color: #dddddd;
}
.button-contactus {
    text-decoration: none;
    color: white;
    padding: 19px 44px 10px 45px;
    background-color: #484848;
    border-radius: 6px;
    box-shadow: 0 6px 0 #404040;
}
.button-contactus:hover{
    background-color: #404040;
    transition: 0.7s;
}
.button-buynow-1 {
    text-decoration: none;
    color: white;
    padding: 19px 57px 10px 58px;
    background-color: #89c331;
    border-radius: 6px;
    box-shadow: 0 6px 0 #79b027;
}
.button-buynow-1:hover {
    background-color: #79b027;
    transition: 0.7s;
}
.bg-button-buynow-2 {
    background-color: #f4f4f4;
}
.button-buynow-2 {
    text-decoration: none;
    color: white;
    padding: 19px 57px 10px 58px;
    background-color: #f04a56;
    border-radius: 6px;
    box-shadow: 0 6px 0 #df3a46;
}
.button-buynow-2:hover {
    background-color: #df3a46;
    transition: 0.7s;
}
.button-buynow-3 {
    text-decoration: none;
    color: white;
    padding: 19px 57px 10px 58px;
    background-color: #20807c;
    border-radius: 6px;
    box-shadow: 0 6px 0 #16736f;
}
.button-buynow-3:hover {
    background-color: #16736f;
    transition: 0.7s;
}
i {
    color: #848484;
}
