.head {
    height: 70px;
    background-color: #1d2124;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container{
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
.head-flex-child-1 {
    position: relative;

}
.head-logo-image-bg {
    background-color: #1a1d20;
    height: 69px;
    width: 70px;
    display: inline-block;
    position: absolute;
    top: -34px;
    right: -70px;
}
.head-logo-image {
    position: absolute;
    top: 19px;
    left: 19px;
}
.head-logo {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    display: inline-block;
    margin-left: 75px;
    position: absolute;
    top: -11px;

}

.head-flex-child-2 {
    /*display: flex;*/
}
.head-navbar-menu {
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 37px;
}
.last-child {
    margin-right: 0;
}
.head-flex-child-3 {

}
.head-search {
    color: white;
    background-color: #171a1c;
    padding: 27px 25px 24px 26px;
}
.the-latest-news-bg {
    background-image: url("../img/header-bg.jpeg");
    background-position: 0 -480px;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    width: 100%;
    height: 400px;
    /*max-width: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin-bottom: 50px;*/
}
.the-latest-news-title {
    color: white;
    font-size: 27px;
    margin-bottom: 64px;


}

.the-latest-news-button-1 {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 20px 21px 20px 21px;
    background-color: #89ca62;
    border-radius: 5px;
    margin-right: 9px;
}
.the-latest-news-button-1:hover{
    background-color: #41d540;
    transition: 0.7s;
}
.the-latest-news-button-2 {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 20px 32px;
    background-color: #14b9d5;
    border-radius: 5px;
    margin-left: 9px;
}
.the-latest-news-button-2:hover {
    background-color: #2094d5;
    transition: 0.7s;
}
.head-title-most-popular-posts {
    font-size: 27px;
    font-weight: bolder;
    text-align: center;
    color: #18b4cf;
    text-transform: uppercase;
    margin-bottom: 52px;
    padding-top: 50px;
}
.most-popular-posts {
    background-color: #f2f2f2;
}
.wrapper {
    width: 1170px;
    margin: 0 auto;
}
.slide-toggle{
    display: inline-block;
}

.most-popular-posts-images {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    flex-direction: column;

}
.image-item {
    font-size: 18px;
    text-align: center;
    background-color: #f2f2f2;
    margin-bottom: 32px;

}
.image-item-text {
    background-color: white;
    width: 370px;
    height: 41px;
    position: relative;
    right: -10px;
    padding-top: 20px;
    font-weight: bolder;
    color: black;
}
.popular-clients {
    background-image: url("../img/parallax-bg.jpeg");
    width: 1900px;
    height: 600px;
    max-width: 100%;
    background-position: 0 -340px;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    margin: 0 auto;
    margin-bottom: 55px;

}
.popular-clients-items{
    display: grid;
    margin: 0 auto;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
            ". . . . . ."
            ". . . . . ."
            ". . . . . ."
            ". . . . . ."
            "title title title title title title"
            "blue-line blue-line blue-line blue-line blue-line blue-line"
            ". . . . . ."
            ". client1 client2 client3 client4 ."
            ". . . . . ."
            ". . . . . ."
            ". . . . . ."
            ". . . . . .";
    justify-items: center;
    align-items: center;
}
.title {
    color: white;
    grid-area: title;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bolder;
}
.blue-line {
    grid-area: blue-line;
}
.client1 {
    grid-area: client1;
}
.client2 {
    grid-area: client2;
}
.client3 {
    grid-area: client3;
}
.client4 {
    grid-area: client4;
}
.top-rated {
    margin-bottom: 60px;
}
.top-rated-head {
    font-size: 27px;
    margin-bottom: 52px;
    text-align: center;
    color: #18b4cf;
    text-transform: uppercase;
    font-weight: bolder;
}
.top-rated-image {
    display: grid;
    margin: 0 auto;
    overflow: hidden;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    grid-template-areas:
            "image1 image2 image3 image4 image5 image6 image7"

}
.image1 {
    grid-area: image1;
}
.image2 {
    grid-area: image2;
}
.image3 {
    grid-area: image3;
}
.image4 {
    grid-area: image4;
}
.image5 {
    grid-area: image5;
}
.image6 {
    grid-area: image6;
}
.image7 {
    grid-area: image7;
}


.hot-news-head {
    font-size: 27px;
    color: #18b4cf;
    text-align: center;
    margin-bottom: 51px;
    text-transform: uppercase;
    font-weight: bolder;
}
.hot-news-grid-1 {
    display: grid;
    grid-template-columns: 41.3% 31.7% 27%;
    grid-template-areas:
            "last-image1 last-text1 last-image2";
    margin-bottom: 42px;

}


.last-text-1 {
    margin-right: 35px;
    text-align: right;
    background-color: #f9f7f7;
    padding-right: 24px;
    padding-left: 21px;
    height: 259px;

}

.last-text-head-1 {
    font-size: 18px;
    font-weight: bolder;
    padding: 41px 0 22px 0;
    color: black;
}
.last-text-content{
    color: black;
}
.last-text-2 {
    justify-self: right;
}
.last-text-head-2 {
    background-color: #f9f7f7;
    padding-left: 42px;
    padding-top: 14px;
    height: 35px;
    font-weight: bolder;
    color: black;
}

.last-text-content {
    font-size: 14px;
}

.hot-news-grid-2 {
     display: grid;
     grid-template-columns: 50% 50%;
     grid-template-areas:
             "last-image3 last-image4"
             "last-image5 last-image6"
 }
.last-text-3 {
    background-color: #f9f7f7;
    text-align: right;
    margin-right: 25px;
    width: 554px;
    margin-bottom: 42px;

}
.last-text-head-3 {
    margin-bottom: 26px;
    padding-top: 20px;
    margin-right: 27px;
    font-weight: bolder;
    color: black;
}
.last-text-content-3{
    margin: 0 27px 21px 22px;
    color: black;
}
.last-text-4{
    justify-self: right;
    text-align: right;
    background-color: #f9f7f7;
    width: 554px;
    margin-bottom: 42px;
}
.last-text-5 {
    background-color: #f9f7f7;
    text-align: right;
    margin-right: 25px;
    width: 554px;
    margin-bottom: 42px;
}
.last-text-6{
    justify-self: right;
    text-align: right;
    background-color: #f9f7f7;
    width: 554px;
    margin-bottom: 42px;
}
.hot-news-grid-3 {
    display: grid;
    grid-template-columns: 27% 41.3% 31.7%;
    grid-template-areas:
            "last-imag7 last-image8 last-text2";
    margin-bottom: 71px;
}
.last-text-head-7{
    background-color: #f9f7f7;
    padding-left: 42px;
    padding-top: 14px;
    height: 35px;
    font-weight: bolder;
    margin-right: 39px;
    color: black;
}
.last-text-8{
    text-align: right;
    background-color: #f9f7f7;
    padding-right: 24px;
    padding-left: 21px;
    height: 259px;
}
.last-text-head-8{
    font-size: 18px;
    font-weight: bolder;
    padding: 41px 0 22px 0;
    color: black;
}
.last-text-content-8{
    color: black;
}
.footer {
    height: 80px;
    background-color: #1d2124;
}
.footer-grid {
    color: #ffffff;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
            "item-left item-right";
}
.footer-grid-left{
    align-self: center;
    font-size: 13px;

}
.footer-grid-right {
    justify-self: right;
    align-self: center;
}
.scrol-top-btn {
    position: fixed;
    display: none;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
}













