.header-of-menu {
  width: 100%;
  padding-left: 9px;
}

.header-of-menu-title {
  font-size: 20px;
  color: $dark;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.header-of-menu-text {
  font-size: 13px;
  color: #cbccce;
  margin-bottom: 10px;
}


.title-menu-first {
  padding: 8px 17px 0 18px;
  height: 37px;
  background-color: $dark;
  color: $color;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.subtitle-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.subtitle-menu {
  margin-left: 19px;
  text-transform: uppercase;
  font-size: 17px;
  color: $dark;
  display: inline-block;
}

.icon-menu-first {
  background: url("../img/img-320/css_sprites-320.png") -10px -51px;
  width: 25px;
  height: 25px;
  margin-right: 18px;
  display: inline-block;
  text-align: right;
}

.menu-dish-name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.menu-dish-name {
  margin-left: 17px;
}

.menu-price {
  margin-right: 17px;
  font-weight: 600;
}

.menu-composition-dish {
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 8px;
  font-size: 12px;
}

.title-menu-second {
  padding: 8px 17px 0 18px;
  height: 37px;
  background-color: $color;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.icon-menu-second {
  background: url("../img/img-320/css_sprites-320.png") -60px -50px;
  width: 13px;
  height: 24px;
  margin-right: 18px;
  display: inline-block;
  text-align: right;
}

.icon-menu-third {
  background: url("../img/img-320/css_sprites-320.png") -10px -10px;
  width: 30px;
  height: 21px;
  margin-right: 18px;
  display: inline-block;
  text-align: right;
}

.icon-menu-forth {
  background: url("../img/img-320/css_sprites-320.png") -60px -10px;
  width: 30px;
  height: 21px;
  margin-right: 18px;
  display: inline-block;
  text-align: right;
}
.menu-composition-dish-last-child{
  margin-bottom: 48px;
}


@media screen and (min-width: 640px) {
  .header-of-menu {
    width: 100%;
    padding-left: 21px;
  }

  .header-of-menu-title {
    font-size: 40px;
    margin-bottom: 9px;
  }

  .header-of-menu-text {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .title-menu-first {
    padding: 19px 0 0 37px;
    height: 75px;
    font-size: 40px;
    margin-bottom: 22px;
  }

  .subtitle-menu-container {
    margin-bottom: 36px;
  }

  .subtitle-menu {
    margin-left: 38px;
    font-size: 30px;
  }
  .icon-menu-first {
    background: url("../img/img-640/css_sprites-640.png") -10px -72px;
    width: 49px;
    height: 48px;
    margin-right: 36px;
  }

  .menu-dish-name-container {
    margin-bottom: 8px;
  }

  .menu-dish-name {
    margin-left: 35px;
    font-size: 27px;
  }

  .menu-price {
    margin-right: 35px;
    margin-bottom: 16px;
    font-size: 27px;
    font-weight: 600;
  }

  .menu-composition-dish {
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 22px;
    font-size: 17px;
  }
  .icon-menu-second {
    background: url("../img/img-640/css_sprites-640.png") -91px -72px;
    width: 27px;
    height: 48px;
    margin-right: 46px;
  }

  .title-menu-second {
    padding: 19px 0 0 37px;
    height: 75px;
    font-size: 40px;
    margin-bottom:22px;
  }
  .icon-menu-third {
    background: url("../img/img-640/css_sprites-640.png") -10px -10px;
    width: 61px;
    height: 42px;
    margin-right: 31px;
  }

  .icon-menu-forth {
    background: url("../img/img-640/css_sprites-640.png") -91px -10px;
    width: 43px;
    height: 42px;
    margin-right: 44px;
  }
  .menu-composition-dish-last-child{
    margin-bottom: 117px;
  }
}
@media screen and (min-width: 980px) {
  .header-of-menu-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-of-menu {
    width: 100%;
    padding-left: 31px;
  }

  .header-of-menu-title {
    font-size: 34px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .header-of-menu-text {
    font-size: 20px;
    margin-bottom: 0;
  }
  .menu-image{
    background-image: url("../img/img-980/css_sprites-980.png");
    width: 129px;
    height: 89px;
    background-position: -10px -10px;
    margin-bottom: 11px;
    margin-right: 29px;
  }
  .flex-part-menu{
    display: flex;
    flex-direction: row;
  }
  .title-menu-first {
    padding: 19px 0 0 18px;
    height: 75px;
    font-size: 34px;
    margin-bottom: 29px;
  }

  .subtitle-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
  }

  .subtitle-menu {
    margin-left: 19px;
    font-size: 26px;
  }
  .icon-menu-first {
    background: url("../img/img-980/css_sprites-980.png") -10px -178px;
    width: 42px;
    height: 42px;
    margin-right: 14px;
  }

  .menu-dish-name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
  }

  .menu-dish-name {
    margin-left: 18px;
    font-size: 24px;
  }

  .menu-price {
    font-size: 24px;
    margin-right: 13px;
    font-weight: 600;
  }

  .menu-composition-dish {
    margin-left: 23px;
    margin-right: 14px;
    margin-bottom: 24px;
    font-size: 16px;
  }

  .title-menu-second {
    padding: 19px 0 0 18px;
    height: 75px;
    font-size: 34px;
    margin-bottom: 29px;
  }

  .icon-menu-second {
    background: url("../img/img-980/css_sprites-980.png") -263px -10px;
    width: 25px;
    height: 44px;
    margin-right: 14px;
  }

  .icon-menu-third {
    background: url("../img/img-980/css_sprites-980.png") -10px -119px;
    width: 56px;
    height: 39px;
    margin-right: 14px;
  }

  .icon-menu-forth {
    background: url("../img/img-980/icon-4.png");
    width: 40px;
    height: 39px;
    margin-right: 14px;
  }
  .menu-composition-dish-last-child{
    margin-bottom: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .header-of-menu {
    padding-left: 23px;
  }

  .header-of-menu-title {
    font-size: 38px;
    margin-bottom: 9px;
  }
  .header-of-menu-text {
    font-size: 20px;
  }
  .menu-image{
    background-image: url("../img/img-1200/css_sprites-1200.png");
    width: 138px;
    height: 96px;
    margin-bottom: 14px;
    margin-right: 15px;
  }
  .title-menu-first {
    padding: 19px 0 0 18px;
    height: 75px;
    font-size: 38px;
    margin-bottom: 22px;
  }

  .subtitle-menu-container {
    margin-bottom: 36px;
  }

  .subtitle-menu {
    font-size: 29px;
  }
  .icon-menu-first {
    background: url("../img/img-1200/css_sprites-1200.png") -10px -190px;
    width: 49px;
    height: 48px;
  }
  .menu-dish-name {
    margin-left: 22px;
    font-size: 27px;
  }

  .menu-price {
    font-size: 27px;
    margin-right: 2px;
    font-weight: 600;
  }

  .menu-composition-dish {
    margin-left: 23px;
    margin-right: 3px;
    margin-bottom: 21px;
    font-size: 17px;
  }

  .title-menu-second {
    padding: 19px 0 0 18px;
    height: 75px;
    font-size: 38px;
    margin-bottom: 22px;
  }

  .icon-menu-second {
    background: url("../img/img-1200/css_sprites-1200.png") -79px -190px;
    width: 27px;
    height: 48px;
    margin-right: 13px;
  }

  .icon-menu-third {
    background: url("../img/img-1200/css_sprites-1200.png") -10px -128px;
    width: 61px;
    height: 42px;
    margin-right: 17px;
  }

  .icon-menu-forth {
    background: url("../img/img-1200/css_sprites-1200.png") -91px -128px;
    width: 43px;
    height: 42px;
    margin-right: 30px;
  }
  .menu-composition-dish-last-child{
    margin-bottom: 128px;
  }
}