.image-to-show {
    width: 400px;
    height: 400px;
    display: none;
}
.active {
    display: block;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#stop-show{
    display: inline-block;
}
#start-show {
    display: inline-block;
}