body {
    font-family: Verdana, "Trebuchet MS", Geneva, sans-serif;
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
.container {
    width: 1060px;
    margin: 0 auto;
    padding-top: 49px;
}

.travel-logo {
    color: white;
    margin-bottom: 47px;
}
.travel-logo-content {
    display: inline-block;
    cursor: pointer;

}
.logo-image {
    display: inline-block;
    width: 31px;
    height: 44px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    padding-right: 15px;
    background-size: cover;
}
.logo-info {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}
.logo:hover {
    color: #f26522;
}
.logo:hover .logo-image {
    background-image: url("../img/logo-hover.png");
}
.logo-first-link {
    margin: 0;
    padding: 0;
}
.logo-first-link-font{
    font-size: 29px;
}
.logo-second-link {
    margin: 0;
    padding: 0;
}


.travel-logo-contact {
    font-size: 20px;
    text-align: right;
    margin: 0;
}
.logo-text{
    display: inline-block;
    font-weight: 600;

}
.contacts{
    display: inline-block;
    float: right;
}
.logo{
    display: inline-block;
}
.tours > div {
    float: left;
    width: 307px;
    height: 200px;
    margin-right: 65px;
    margin-bottom: 97px;
    cursor: pointer;
    position: relative;

}


.image-container{
    overflow: hidden;
    position: relative;
}
.tours-image:hover .hide{
    bottom: 0;
}

.hide {
    transition: 1s bottom;
    position: absolute;
    bottom: -60px;
    background-color: #f26522;
    color: #fff;
    width: 100%;
    height: 60px;

}
.left-text {
    font-size: 20px;
    float: left;
    margin-left: 21px;
    margin-bottom: 17px;
    position: relative;

}
.left-text:before {
    content: 'from';
    font-size: 10px;
    position: absolute;
    top: -10px;
}
.right-text {
    font-size: 14px;
    float: right;
    margin-right: 40px;
    position: relative;
    top: 10px;

}
.right-text:after {
    content: '>';
    position: relative;
    left: 10px;
}

.tours-image-text {
    color: white;
    text-align: center;
    margin-top: 22px;
}
.tours-image-text:hover {
    color: #f26522;
}

.tours-image:hover .tours-image-text{
    color: #f26522;
}

.tours-image:nth-child(3n){
    margin-right: 0;
}

footer {
    font-size: 12pt;
    color: white;
    text-align: center;
}