* {
    font-weight: bolder;
}
.link {
    text-align: center;
    margin-top: 32px;
}
a {
    text-decoration: none;
}
p {
    text-align: center;
    line-height: 2;
    width: 1060px;
    margin: 0 auto;
}
.link-menu {
    margin-right: 65px;
    font-size: 18px;
    text-transform: uppercase;
    color: #16a085;

}
.content {
    text-align: center;
    font-family: sans-serif;

}
.content-image {
    background-size: cover;
    margin-top: 35px;
}
.content-head {

}
.content-text {
    text-align: center;
    width: 1060px;
    margin: 0 auto;
}
.content-button {
    background-color: #16a085;
    color: white;
    width: 192px;
    height: 51px;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    border: none;
    font-family: sans-serif;
    margin-top: 41px;
}
button:hover {
    cursor: pointer;
}
footer {
    text-align: right;
    margin: 141px 104px 0 0;
}