@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, input, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  width: 320px;
  height: 37px;
  background-color: #373c3f;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.header-logo-name {
  font-size: 12px;
  padding: 12px 0 0 19px;
  display: inline-block;
  color: #ffffff; }

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 37px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s; }

.c-hamburger:focus {
  outline: none; }

.c-hamburger span {
  display: block;
  position: absolute;
  top: 16px;
  left: 11px;
  right: 11px;
  height: 3px;
  background: white; }

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: ""; }

.c-hamburger span::before {
  top: -6px; }

.c-hamburger span::after {
  bottom: -6px; }

.c-hamburger--htx {
  background-color: #202529; }

.c-hamburger--htx span {
  transition: background 0s 0.3s; }

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

.c-hamburger--htx span::before {
  transition-property: top, transform; }

.c-hamburger--htx span::after {
  transition-property: bottom, transform; }

/* состояние active при открытом меню  */
.c-hamburger--htx.is-active {
  background-color: #202529; }

.c-hamburger--htx.is-active span {
  background: none; }

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg); }

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg); }

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s; }

.navbar-menu {
  display: none;
  z-index: 2;
  position: relative;
  top: 37px;
  left: 53px; }

.navbar-menu-item {
  color: #444444;
  font-size: 12px;
  background: #fafafa;
  padding: 9px 96px 9px 12px;
  text-transform: capitalize;
  border: 1px solid #f3f3f3; }

.navbar-menu-item:hover {
  background: #f5f5f5; }

.header-img-pizza {
  display: none; }

@media screen and (min-width: 640px) {
  .header {
    width: 640px;
    height: 74px; }

  .header-logo-name {
    font-size: 24px;
    padding: 26px 0 0 38px; }

  .c-hamburger {
    width: 82px;
    height: 74px; }

  .c-hamburger span {
    top: 34px;
    left: 25px;
    right: 23px;
    height: 4px; }

  .c-hamburger span::before {
    top: -8px; }

  .c-hamburger span::before, .c-hamburger span::after {
    height: 4px; }

  .c-hamburger span::after {
    bottom: -8px; }

  .navbar-menu-item {
    font-size: 14px;
    padding: 13px 130px 13px 27px; }

  .navbar-menu {
    top: 74px;
    left: 162px; } }
@media screen and (min-width: 980px) {
  .header {
    width: 980px;
    height: 97px;
    background-color: #373c3f;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

  .header-logo-name {
    display: none; }

  .c-hamburger {
    display: none; }

  .navbar-menu {
    display: inline-block;
    z-index: 1;
    position: relative;
    top: 41px;
    left: -83px; }

  .navbar-menu-item {
    display: inline;
    color: #ebebeb;
    font-size: 15px;
    background: #373c3f;
    padding: 0;
    margin-left: 30px;
    border: none;
    text-transform: uppercase; }

  .navbar-menu-item:hover {
    background: none;
    color: #ffffff; }

  .header-img-pizza {
    display: inline-block;
    padding-right: 30px;
    padding-top: 7px; } }
@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
    height: 97px; }

  .navbar-menu {
    left: -128px; }

  .navbar-menu-item {
    margin-left: 37px; }

  .header-img-pizza {
    padding-right: 38px; } }
.main {
  width: 320px; }

.main-bg {
  background-image: url("../img/header-fon-320.png");
  height: 173px;
  background-repeat: no-repeat;
  margin-bottom: 4px; }

.main-bg-text-1 {
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  padding-left: 20px;
  padding-top: 19px; }

.main-bg-text-2 {
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  padding-left: 20px;
  padding-top: 7px; }

.main-bg-link {
  font-size: 14px;
  color: #a6d6e0;
  text-decoration: none;
  font-weight: 700;
  padding-left: 20px;
  padding-top: 11px; }

.menu-images-1 {
  background-image: url("../img/img-320/Pizza-delivery-fon-320.png");
  height: 75px;
  background-repeat: no-repeat;
  background-position: -25px -233px;
  margin-bottom: 2px; }

.menu-images-text-1 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding-top: 27px;
  padding-left: 64px; }

.menu-images-2 {
  background-image: url("../img/img-320/UA_UX-Salads-fon-320.png");
  height: 75px;
  background-repeat: no-repeat;
  background-position: 0 -165px;
  margin-bottom: 2px; }

.menu-images-text-2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding-top: 27px;
  padding-left: 75px; }

.menu-images-3 {
  background-image: url("../img/img-320/Desserts-fon-320.png");
  height: 75px;
  background-repeat: no-repeat;
  background-position: 0 -28px;
  margin-bottom: 26px; }

.menu-images-text-3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding-top: 27px;
  padding-left: 84px; }

.fa-angle-right {
  color: #ffffff;
  background: #acd8ad; }

.icon-angel-right-1 {
  position: relative;
  left: 251px;
  bottom: 47px;
  padding: 30px 31px; }

.icon-angel-right-2 {
  position: relative;
  left: 251px;
  bottom: 47px;
  padding: 30px 31px; }

.icon-angel-right-3 {
  position: relative;
  left: 251px;
  bottom: 47px;
  padding: 30px 31px; }

@media screen and (min-width: 640px) {
  .main {
    width: 640px; }

  .main-bg {
    background-image: url("../img/header-fon-640.png");
    height: 346px;
    margin-bottom: 5px; }

  .main-bg-text-1 {
    font-size: 36px;
    padding-left: 38px;
    padding-top: 30px; }

  .main-bg-text-2 {
    font-size: 36px;
    padding-left: 38px;
    padding-top: 10px;
    padding-bottom: 22px; }

  .main-bg-link {
    font-size: 24px;
    padding-left: 37px; }

  .menu-images-1 {
    background-image: url("../img/img-640/Pizza-delivery-fon-640.png");
    height: 150px;
    background-position: 0 -281px;
    margin-bottom: 2px; }

  .menu-images-text-1 {
    font-size: 36px;
    padding-top: 58px;
    padding-left: 135px; }

  .menu-images-2 {
    background-image: url("../img/img-640/UA_UX-Salads-fon-640.png");
    height: 150px;
    background-position: 0 -233px;
    margin-bottom: 2px; }

  .menu-images-text-2 {
    font-size: 36px;
    padding-top: 58px;
    padding-left: 138px; }

  .menu-images-3 {
    background-image: url("../img/img-640/Desserts-fon-copy-640.png");
    height: 150px;
    background-position: 0 -34px;
    margin-bottom: 45px; }

  .menu-images-text-3 {
    font-size: 36px;
    padding-top: 58px;
    padding-left: 184px; }

  .icon-angel-right-1 {
    left: 499px;
    bottom: 94px;
    padding: 62px 67px; }

  .icon-angel-right-2 {
    left: 499px;
    bottom: 94px;
    padding: 62px 67px; }

  .icon-angel-right-3 {
    left: 499px;
    bottom: 94px;
    padding: 62px 67px; }

  .fa-angle-right {
    font-size: 26px; } }
@media screen and (min-width: 980px) {
  .main {
    width: 980px; }

  .main-bg {
    background-image: url("../img/header-fon-980.png");
    height: 530px;
    background-repeat: no-repeat;
    margin-bottom: 6px; }

  .main-bg-text-1 {
    font-size: 54px;
    padding-left: 30px;
    padding-top: 64px; }

  .main-bg-text-2 {
    font-size: 54px;
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 57px; }

  .main-bg-link {
    font-size: 34px;
    padding-left: 30px; }

  .menu-images-wrapper {
    display: flex;
    flex-direction: row; }

  .menu-images-1 {
    background-image: url("../img/img-980/Pizza-delivery-fon-980.png");
    height: 327px;
    width: 327px;
    background-position: 0 0;
    margin-bottom: 2px; }

  .menu-images-text-1 {
    color: #ffffff;
    font-size: 38px;
    padding-top: 145px;
    padding-left: 42px; }

  .menu-images-2 {
    background-image: url("../img/img-980/UA_UX-Salads-fon-980.png");
    height: 327px;
    width: 327px;
    background-position: 0 0;
    margin-bottom: 2px; }

  .menu-images-text-2 {
    color: #ffffff;
    font-size: 38px;
    padding-top: 145px;
    padding-left: 44px; }

  .menu-images-3 {
    background-image: url("../img/img-980/Desserts-fon-980.png");
    height: 327px;
    width: 327px;
    background-position: 0 0;
    margin-bottom: 50px; }

  .menu-images-text-3 {
    color: #ffffff;
    font-size: 38px;
    padding-top: 145px;
    padding-left: 88px; }

  .icon-angel-right-1 {
    display: none !important; }

  .icon-angel-right-2 {
    display: none !important; }

  .icon-angel-right-3 {
    display: none !important; } }
@media screen and (min-width: 1200px) {
  .main {
    width: 1200px; }

  .main-bg {
    background-image: url("../img/header-fon-1200.png");
    height: 649px; }

  .main-bg-text-1 {
    font-size: 62px;
    padding-left: 37px;
    padding-top: 58px; }

  .main-bg-text-2 {
    font-size: 62px;
    padding-left: 37px;
    padding-top: 14px;
    padding-bottom: 53px; }

  .main-bg-link {
    font-size: 38px;
    padding-left: 37px; }

  .menu-images-1 {
    background-image: url("../img/img-1200/Pizza-delivery-1200.png");
    height: 400px;
    width: 400px; }

  .menu-images-text-1 {
    font-size: 43px;
    padding-top: 182px;
    padding-left: 67px; }

  .menu-images-2 {
    background-image: url("../img/img-1200/UA_UX-Salads-1200.png");
    height: 400px;
    width: 400px; }

  .menu-images-text-2 {
    font-size: 43px;
    padding-top: 183px;
    padding-left: 63px; }

  .menu-images-3 {
    background-image: url("../img/img-1200/Desserts-1200.png");
    height: 400px;
    width: 400px;
    margin-bottom: 41px; }

  .menu-images-text-3 {
    font-size: 43px;
    padding-top: 183px;
    padding-left: 116px; } }
.header-of-menu {
  width: 100%;
  padding-left: 9px; }

.header-of-menu-title {
  font-size: 20px;
  color: #3f4043;
  margin-bottom: 4px;
  text-transform: uppercase; }

.header-of-menu-text {
  font-size: 13px;
  color: #cbccce;
  margin-bottom: 10px; }

.title-menu-first {
  padding: 12px 17px 0 18px;
  height: 37px;
  background-color: #3f4043;
  color: #acd8ad;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 8px; }

.subtitle-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px; }

.subtitle-menu {
  margin-left: 19px;
  text-transform: uppercase;
  font-size: 17px;
  color: #3f4043;
  display: inline-block; }

.icon-menu-first {
  background: url("../img/img-320/css_sprites-320.png") -10px -51px;
  width: 25px;
  height: 25px;
  margin-right: 18px;
  display: inline-block;
  text-align: right; }

.menu-dish-name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px; }

.menu-dish-name {
  margin-left: 17px; }

.menu-price {
  margin-right: 17px;
  font-weight: 600; }

.menu-composition-dish {
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 8px;
  font-size: 12px; }

.title-menu-second {
  padding: 12px 17px 0 18px;
  height: 37px;
  background-color: #acd8ad;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 8px; }

.icon-menu-second {
  background: url("../img/img-320/css_sprites-320.png") -60px -50px;
  width: 13px;
  height: 24px;
  margin-right: 18px;
  display: inline-block;
  text-align: right; }

.icon-menu-third {
  background: url("../img/img-320/css_sprites-320.png") -10px -10px;
  width: 30px;
  height: 21px;
  margin-right: 18px;
  display: inline-block;
  text-align: right; }

.icon-menu-forth {
  background: url("../img/img-320/css_sprites-320.png") -60px -10px;
  width: 30px;
  height: 21px;
  margin-right: 18px;
  display: inline-block;
  text-align: right; }

.menu-composition-dish-last-child {
  margin-bottom: 48px; }

@media screen and (min-width: 640px) {
  .header-of-menu {
    width: 100%;
    padding-left: 21px; }

  .header-of-menu-title {
    font-size: 40px;
    margin-bottom: 9px; }

  .header-of-menu-text {
    font-size: 20px;
    margin-bottom: 20px; }

  .title-menu-first {
    padding: 21px 0 0 37px;
    height: 60px;
    font-size: 40px;
    margin-bottom: 22px; }

  .subtitle-menu-container {
    margin-bottom: 36px; }

  .subtitle-menu {
    margin-left: 38px;
    font-size: 30px; }

  .icon-menu-first {
    background: url("../img/img-640/css_sprites-640.png") -10px -72px;
    width: 49px;
    height: 48px;
    margin-right: 36px; }

  .menu-dish-name-container {
    margin-bottom: 8px; }

  .menu-dish-name {
    margin-left: 35px;
    font-size: 27px; }

  .menu-price {
    margin-right: 35px;
    margin-bottom: 16px;
    font-size: 27px;
    font-weight: 600; }

  .menu-composition-dish {
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 22px;
    font-size: 17px; }

  .icon-menu-second {
    background: url("../img/img-640/css_sprites-640.png") -91px -72px;
    width: 27px;
    height: 48px;
    margin-right: 46px; }

  .title-menu-second {
    padding: 21px 0 0 37px;
    height: 60px;
    font-size: 40px;
    margin-bottom: 22px; }

  .icon-menu-third {
    background: url("../img/img-640/css_sprites-640.png") -10px -10px;
    width: 61px;
    height: 42px;
    margin-right: 31px; }

  .icon-menu-forth {
    background: url("../img/img-640/css_sprites-640.png") -91px -10px;
    width: 43px;
    height: 42px;
    margin-right: 44px; }

  .menu-composition-dish-last-child {
    margin-bottom: 117px; } }
@media screen and (min-width: 980px) {
  .header-of-menu-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

  .header-of-menu {
    width: 100%;
    padding-left: 31px; }

  .header-of-menu-title {
    font-size: 34px;
    margin-bottom: 10px;
    text-transform: uppercase; }

  .header-of-menu-text {
    font-size: 20px;
    margin-bottom: 0; }

  .menu-image {
    background-image: url("../img/img-980/css_sprites-980.png");
    width: 129px;
    height: 89px;
    background-position: -10px -10px;
    margin-bottom: 11px;
    margin-right: 29px; }

  .flex-part-menu {
    display: flex;
    flex-direction: row; }

  .title-menu-first {
    padding: 27px 0 0 18px;
    height: 60px;
    font-size: 34px;
    margin-bottom: 29px; }

  .subtitle-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px; }

  .subtitle-menu {
    margin-left: 19px;
    font-size: 26px; }

  .icon-menu-first {
    background: url("../img/img-980/css_sprites-980.png") -10px -178px;
    width: 42px;
    height: 42px;
    margin-right: 14px; }

  .menu-dish-name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px; }

  .menu-dish-name {
    margin-left: 18px;
    font-size: 24px; }

  .menu-price {
    font-size: 24px;
    margin-right: 13px;
    font-weight: 600; }

  .menu-composition-dish {
    margin-left: 23px;
    margin-right: 14px;
    margin-bottom: 24px;
    font-size: 16px; }

  .title-menu-second {
    padding: 27px 0 0 18px;
    height: 60px;
    font-size: 34px;
    margin-bottom: 29px; }

  .icon-menu-second {
    background: url("../img/img-980/css_sprites-980.png") -263px -10px;
    width: 25px;
    height: 44px;
    margin-right: 14px; }

  .icon-menu-third {
    background: url("../img/img-980/css_sprites-980.png") -10px -119px;
    width: 56px;
    height: 39px;
    margin-right: 14px; }

  .icon-menu-forth {
    background: url("../img/img-980/icon-4.png");
    width: 40px;
    height: 39px;
    margin-right: 14px; }

  .menu-composition-dish-last-child {
    margin-bottom: 84px; } }
@media screen and (min-width: 1200px) {
  .header-of-menu {
    padding-left: 23px; }

  .header-of-menu-title {
    font-size: 38px;
    margin-bottom: 9px; }

  .header-of-menu-text {
    font-size: 20px; }

  .menu-image {
    background-image: url("../img/img-1200/css_sprites-1200.png");
    width: 138px;
    height: 96px;
    margin-bottom: 14px;
    margin-right: 15px; }

  .title-menu-first {
    padding: 23px 0 0 18px;
    height: 63px;
    font-size: 38px;
    margin-bottom: 22px; }

  .subtitle-menu-container {
    margin-bottom: 36px; }

  .subtitle-menu {
    font-size: 29px; }

  .icon-menu-first {
    background: url("../img/img-1200/css_sprites-1200.png") -10px -190px;
    width: 49px;
    height: 48px; }

  .menu-dish-name {
    margin-left: 22px;
    font-size: 27px; }

  .menu-price {
    font-size: 27px;
    margin-right: 2px;
    font-weight: 600; }

  .menu-composition-dish {
    margin-left: 23px;
    margin-right: 3px;
    margin-bottom: 21px;
    font-size: 17px; }

  .title-menu-second {
    padding: 23px 0 0 18px;
    height: 63px;
    font-size: 38px;
    margin-bottom: 22px; }

  .icon-menu-second {
    background: url("../img/img-1200/css_sprites-1200.png") -79px -190px;
    width: 27px;
    height: 48px;
    margin-right: 13px; }

  .icon-menu-third {
    background: url("../img/img-1200/css_sprites-1200.png") -10px -128px;
    width: 61px;
    height: 42px;
    margin-right: 17px; }

  .icon-menu-forth {
    background: url("../img/img-1200/css_sprites-1200.png") -91px -128px;
    width: 43px;
    height: 42px;
    margin-right: 30px; }

  .menu-composition-dish-last-child {
    margin-bottom: 128px; } }
.footer {
  width: 320px;
  height: 57px;
  background: #acd8ad;
  text-align: center; }

.footer-image {
  display: none; }

.footer-text-1 {
  font-size: 14px;
  color: #ffffff;
  padding-top: 12px; }

.footer-text-2 {
  font-size: 14px;
  color: #ffffff; }

@media screen and (min-width: 640px) {
  .footer {
    width: 640px;
    height: 97px; }

  .footer-image {
    display: none; }

  .footer-text-1 {
    font-size: 18px;
    padding-top: 28px; }

  .footer-text-2 {
    padding-top: 15px;
    font-size: 18px; } }
@media screen and (min-width: 980px) {
  .footer {
    width: 980px;
    height: 97px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

  .footer-image {
    display: inline-block;
    margin: 7px 0 7px 30px; }

  .footer-text-1 {
    font-size: 18px;
    padding-top: 0;
    display: inline-block; }

  .footer-text-2 {
    font-size: 18px;
    padding-top: 0;
    margin-right: 30px;
    display: inline-block; } }
@media screen and (min-width: 1200px) {
  .footer {
    width: 1200px; }

  .footer-image {
    margin: 7px 0 7px 37px; }

  .footer-text-2 {
    margin-right: 38px; } }
body {
  font-family: "Lato", sans-serif !important; }

/*# sourceMappingURL=style.css.map */
