body, html {
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: #ffd716;
    background-color: black;
    overflow: hidden;
}
embed {
  margin-left: -301px;
}
h1 {
    text-align: center;
}
.star-wars {
    position: absolute;
    width: 21em;
    height: 53em;
    bottom: 0;
    left: 44%;
    margin-left: -9em;
    font-size: 400%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(20deg) scaleY(3) scaleX(1);
}
.star-wars-text {
    position: absolute;
    top: 100%;
    animation: scroll 30s ease-in 0s infinite;
}
@keyframes scroll {
    0% {
        top: 90%;
    }
    100% {
        top: -170%;
    }
}